
node_modules

# macOS system files
.DS_Store
**/.DS_Store
.DS_Store?
._*

# archivos de variables de entorno dotenv
.env
.env.desarrollo.local
.env.test.local
.env.producción.local
.env.local
test-env.js